azure-functions
pyodbc
sqlalchemy

fastapi
uvicorn
gunicorn
pymysql
python-dotenv
python-multipart
mysql-connector-python

azure-servicebus
azure-storage-blob
azure-identity
azure-keyvault-secrets

python-jose[cryptography]
pydantic