azure-functions
pyodbc
sqlalchemy

fastapi
uvicorn
gunicorn
pymysql
python-dotenv
python-multipart

azure-servicebus
azure-storage-blob
azure-identity
azure-keyvault-secrets

python-jose[cryptography]
pydantic
email-validator
reportlab
passlib[bcrypt]==1.7.4
bcrypt==4.2.0
